/sam2/assets/model_diagram.png filter=lfs diff=lfs merge=lfs -text
/sam2/assets/sa_v_dataset.jpg filter=lfs diff=lfs merge=lfs -text
/sam2/demo/data/gallery/01_dog.mp4 filter=lfs diff=lfs merge=lfs -text
/sam2/demo/data/gallery/02_cups.mp4 filter=lfs diff=lfs merge=lfs -text
/sam2/demo/data/gallery/03_blocks.mp4 filter=lfs diff=lfs merge=lfs -text
/sam2/demo/data/gallery/04_coffee.mp4 filter=lfs diff=lfs merge=lfs -text
/sam2/demo/data/gallery/05_default_juggle.mp4 filter=lfs diff=lfs merge=lfs -text
/sam2/demo/frontend/public/fonts/Inter-VariableFont_opsz,wght.ttf filter=lfs diff=lfs merge=lfs -text
/sam2/demo/frontend/src/assets/videos/sam2_720px_dark.mp4 filter=lfs diff=lfs merge=lfs -text
/sam2/demo/frontend/yarn.lock filter=lfs diff=lfs merge=lfs -text
/sam2/notebooks/automatic_mask_generator_example.ipynb filter=lfs diff=lfs merge=lfs -text
/sam2/notebooks/image_predictor_example.ipynb filter=lfs diff=lfs merge=lfs -text
/sam2/notebooks/images/cars.jpg filter=lfs diff=lfs merge=lfs -text
/sam2/notebooks/images/groceries.jpg filter=lfs diff=lfs merge=lfs -text
/sam2/notebooks/images/truck.jpg filter=lfs diff=lfs merge=lfs -text
/sam2/notebooks/video_predictor_example.ipynb filter=lfs diff=lfs merge=lfs -text
/sam2/notebooks/videos/bedroom.mp4 filter=lfs diff=lfs merge=lfs -text
/sam2/sav_dataset/example/sav_000001.mp4 filter=lfs diff=lfs merge=lfs -text
/sam2/sav_dataset/example/sav_000001_auto.json filter=lfs diff=lfs merge=lfs -text
/sam2/sav_dataset/example/sav_000001_manual.json filter=lfs diff=lfs merge=lfs -text
/sam2/sav_dataset/sav_visualization_example.ipynb filter=lfs diff=lfs merge=lfs -text
/sam2/checkpoints/sam2.1_hiera_base_plus.pt filter=lfs diff=lfs merge=lfs -text
/sam2/checkpoints/sam2.1_hiera_large.pt filter=lfs diff=lfs merge=lfs -text
/sam2/checkpoints/sam2.1_hiera_small.pt filter=lfs diff=lfs merge=lfs -text
/sam2/checkpoints/sam2.1_hiera_tiny.pt filter=lfs diff=lfs merge=lfs -text
/sam2/fine_tuned_models/cork_analizer_sam2.pt filter=lfs diff=lfs merge=lfs -text
/sam2/fine_tuned_models/cork_analizer_sam2_final.pt filter=lfs diff=lfs merge=lfs -text
sam2/fine_tuned_models/cork_analizer_sam2_final.pt filter=lfs diff=lfs merge=lfs -text
